{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Пол</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Номер полиса ОМС</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <th scope="row">{{patient.id}}</th>
                    <td>{{patient.first_name}}</td>
                    <td>{{patient.second_name}}</td>
                    <td>{{patient.middle_name}}</td>
                    <td>{{patient.gender}}</td>
                    <td>{{patient.birthday_date}}</td>
                    <td>{{patient.address_name}}</td>
                    <td>{{patient.policy_number}}</td>
                    <td><form><a href="/patient/{{patient.id}}" class="btn btn-outline-primary">Изменить</a></form></td>
                    <td><form><button type="submit" value="{{patient.id}}" name="id" formaction="/delete" formmethod="post" class="btn btn-outline-danger">Удалить</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}